
<aside>
  <% if @navigate_tags %>
    <%= link_to 'Home', tex2e_path %><br>
    <% @navigate_tags.each do |tag| %>
      └ <%= link_to tag, tex2e_path(tag: tag) %><br>
    <% end %>
  <% end %>
</aside>

<main role="main">
  <div class="title">
    <h1>まこの独学ノート 一覧</h1>
    <hr>
  </div>

  <% @posts.reverse_each do |post| %>
    <div class="post-list">
      <span class="date">
        <%= "#{post.date} " if post.date && post.date != "" %>
      </span>
      <span class="title">
        <%= link_to post.title, show_tex2e_path(post) %>
      </span>
      <span class="tag">
        <%= " - #{post.tag}" if post.tag && post.tag != "" %>
      </span>
      <hr>
    </div>
  <% end %>
</main>

