
<div class="markdown-body">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :tag %>
      <%= f.text_field :tag %>
    </div>
    <div class="field">
      <%= f.label :text %><br>
      <%= f.text_area :text, {:class => "auto-rows", cols: 100, rows: 20} %>
    </div>
    <div class="field">
      <label><%= f.check_box :publish %>公開</label><br>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <ul>
    <li>編集日付を変更する必要はありますか？ デフォルトでは投稿の登録日になっています。</li>
    <li>ソースコードの2行上に:caprion{&lt;text-type&gt;}{&lt;caption&gt;}は記述しましたか？</li>
    <li></li>
  </ul>
</div>


<script type="text/javascript">
$(function(){
  function addStr(elm, str){
    var elm  = $( "#" + elm ).get(0);　// $("#" + elm)[0]; でも可
    var sPos = elm.selectionStart;
    var ePos = elm.selectionEnd;
    var addStr  = elm.value.substr(0, sPos) + str + elm.value.substr(ePos);
    var cPos = sPos + str.length;
    $(elm).val(addStr);
    elm.setSelectionRange(cPos, cPos);          
  }
  $("textarea")
  .focus(function(){
    window.document.onkeydown = function(e){
      if (e.keyCode === 9) {   // 9 = Tab
        addStr(this.activeElement.id, "\t"); // \tを追加文字として引数に
        e.preventDefault(); // デフォルト動作停止
      }
    }
  })
  .blur(function(){
    window.document.onkeydown = function(e){
      return true;
    }
  });
});

</script>