<aside>
  <div class="breadcrumbs">
    <% tag = @post.tag if @post %>
    <% tag ||= "" %>
    <%= link_to 'Publish Home', tex2e_path %> <br>
    └ <%= link_to 'Publish ' + tag, posts_path(tag: tag) %> <br>
    └ <%= link_to 'Publish View', show_tex2e_path(@post) %> <br>
    <%= link_to 'Admin Home', posts_path %> <br>
    └ <%= link_to 'Admin ' + tag, posts_path(tag: tag) %> <br>
    └ <%= link_to 'Admin Edit', edit_post_path(@post) %> <br>
  </div>
  <div id="TOC"></div>
</aside>

<main role="main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Date:</strong>
    <%= @post.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= @post.tag %>
  </p>

  <p><strong>HTML Text:</strong></p>

  <hr>

  <div class="markdown-body codehilite">
    <h1><%= @post.title %></h1>
    <%= @post.html_text.html_safe if @post.html_text %>
  </div>

  <hr>
  
  <p>
    <strong>Text:</strong>
    <%= @post.text %>
  </p>
</main>

<hr>

<p>
  <strong>Publish:</strong>
  <%= @post.publish %>
</p>

<%#= link_to 'Edit', edit_post_path(@post) %> 
<%#= link_to 'Back', posts_path %>
