
<aside>
  <% tag = @post.tag if @post %>
  <% tag ||= "" %>
  <%= link_to 'Home', dnote_path %> <br>
  └ <%= link_to tag, dnote_path(tag: tag) %>
  <hr>
  <div id="TOC"></div>
</aside>

<main role="main">
  <div id="title">
    <h1>まこの独学ノート</h1>
  </div>

  <hr>

  <div class="date">
    <%= @post.date.strftime("%Y年%m月%d日") %>
  </div>

  <div class="markdown-body codehilite">
    <h1><%= @post.title %></h1>
    <%= @post.html_text.html_safe if @post.html_text %>
  </div>
</main>

<footer>
  <%#= link_to 'Back', dnote_path %>
</footer>

