<!DOCTYPE html>
<html>
<head>
  <% 
    title = @post ? @post.title + " - " : ""
    title += "まこの独学ノート"
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= render 'shared/aside' %>
  <%= yield %>
</body>
</html>
